[submodule "files/system/usr/share/gnome-shell/extensions/appindicatorsupport@rgcjonas.gmail.com"]
	path = files/system/usr/share/gnome-shell/extensions/appindicatorsupport@rgcjonas.gmail.com
	url = https://github.com/ubuntu/gnome-shell-extension-appindicator.git
[submodule "files/system/usr/share/gnome-shell/extensions/blur-my-shell@aunetx"]
	path = files/system/usr/share/gnome-shell/extensions/blur-my-shell@aunetx
	url = https://github.com/aunetx/blur-my-shell.git
[submodule "files/system/usr/share/gnome-shell/extensions/gsconnect@andyholmes.github.io"]
	path = files/system/usr/share/gnome-shell/extensions/gsconnect@andyholmes.github.io
	url = https://github.com/GSConnect/gnome-shell-extension-gsconnect.git
[submodule "files/system/usr/share/gnome-shell/extensions/just-perfection-desktop@just-perfection"]
	path = files/system/usr/share/gnome-shell/extensions/just-perfection-desktop@just-perfection
	url = https://gitlab.gnome.org/jrahmatzadeh/just-perfection.git
[submodule "files/system/usr/share/gnome-shell/extensions/clipboard-indicator@tudmotu.com"]
	path = files/system/usr/share/gnome-shell/extensions/clipboard-indicator@tudmotu.com
	url = https://github.com/Tudmotu/gnome-shell-extension-clipboard-indicator.git
[submodule "files/system/usr/share/gnome-shell/extensions/ddterm@amezin.github.com"]
	path = files/system/usr/share/gnome-shell/extensions/ddterm@amezin.github.com
	url = https://github.com/ddterm/gnome-shell-extension-ddterm.git
[submodule "files/system/usr/share/gnome-shell/extensions/rounded-window-corners@fxgn"]
	path = files/system/usr/share/gnome-shell/extensions/rounded-window-corners@fxgn
	url = https://github.com/flexagoon/rounded-window-corners.git
